@charset "UTF-8";
@font-face {
  font-family: "TwCen";
  src: url("fonts/TwCenMT.ttf");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100vh;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  background-image: linear-gradient(45deg, transparent 3%, rgba(255, 255, 255, 0.05) 3%, rgba(255, 255, 255, 0.05) 50%, transparent 50%), linear-gradient(45deg, transparent calc(3% + 50px), rgba(255, 255, 255, 0.05) calc(3% + 50px), rgba(255, 255, 255, 0.05) calc(50% + 50px), transparent calc(50% + 50px)), linear-gradient(45deg, transparent calc(3% + 100px), rgba(255, 255, 255, 0.05) calc(3% + 100px), rgba(255, 255, 255, 0.05) calc(50% + 100px), transparent calc(50% + 100px)), linear-gradient(45deg, transparent calc(3% + 150px), rgba(255, 255, 255, 0.05) calc(3% + 150px), rgba(255, 255, 255, 0.05) calc(50% + 150px), transparent calc(50% + 150px)), url("img/background.png"), linear-gradient(black, black);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 300;
  text-align: right;
  transform: rotate(45deg);
  position: absolute;
  z-index: 2;
  top: -10px;
  left: 85px;
}
.menu__button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.logo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -128px;
  height: 256px;
  width: 256px;
  background-image: url("img/logoBack.png");
  background-repeat: no-repeat;
  background-position: center;
}
.logo__company {
  margin-top: -15px;
  font-size: 72px;
  letter-spacing: -5px;
  color: #f5b23d;
  font-weight: 300;
  font-family: "TwCen", serif;
}
.logo__name {
  margin-top: -15px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}

.centralItem {
  height: 674px;
  width: 674px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.centralItem__boarder {
  border: 9px solid rgba(255, 255, 255, 0.17);
  transform: rotate(45deg);
}
.centralItem__img {
  height: 476px;
  width: 476px;
  background-color: #cc9a70;
  position: relative;
  overflow: hidden;
}
.centralItem__img_girl {
  top: -20%;
  left: -20%;
  position: absolute;
  height: 140%;
  width: 140%;
  background-image: url(img/girl.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-45deg);
}
i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.switcher {
  background-image: url("img/buttonsBack.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
  height: 67px;
  width: 67px;
  margin-left: -26px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.switcher__button {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.switcher__button-left {
  justify-content: end;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 815px;
  padding-bottom: 20px;
}
footer .socialnetworks {
  display: flex;
  flex-direction: row;
  padding-left: 92px;
}
footer .socialnetworks__link {
  background-color: white;
  border-radius: 90px;
  height: 37px;
  width: 37px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .socialnetworks__link-img {
  height: 50%;
}
footer .makerInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}
footer .makerInfo__copyright {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
footer .makerInfo__design {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
