@font-face{
    font-family: 'TwCen';
    src: url("fonts/TwCenMT.ttf");
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    height: 100vh;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(45deg, transparent 3%, rgba(255, 255, 255, 0.05) 3%, rgba(255, 255, 255, 0.05) 50%, transparent 50%),
    linear-gradient(45deg, transparent calc(3% + 50px), rgba(255, 255, 255, 0.05) calc(3% + 50px), rgba(255, 255, 255, 0.05) calc(50% + 50px), transparent calc(50% + 50px)),
    linear-gradient(45deg, transparent calc(3% + 100px), rgba(255, 255, 255, 0.05) calc(3% + 100px), rgba(255, 255, 255, 0.05) calc(50% + 100px), transparent calc(50% + 100px)),
    linear-gradient(45deg, transparent calc(3% + 150px), rgba(255, 255, 255, 0.05) calc(3% + 150px), rgba(255, 255, 255, 0.05) calc(50% + 150px), transparent calc(50% + 150px)),
    url("img/background.png"), linear-gradient(black, black);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 300;
    text-align: right;
    transform: rotate(45deg);
    position: absolute;
    z-index: 2;
    top: -25px;
    left: 100px;
    &__button {
        cursor: pointer;
        transition: transform 0.5s ease-out 0s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.logo {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
    width: 256px;
    background-image: url("img/logoBack.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: -128px;
    &__company {
        margin-top: -15px;
        font-size: 72px;
        letter-spacing: -5px;
        color: #f5b23d;
        font-weight: 300;
        font-family: "TwCen", serif;
    }
    &__name {
        margin-top: -15px;
        font-size: 20px;
        color: #ffffff;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.centralItem {
    height: 674px;
    width: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__boarder {
        border: 9px solid rgba(255,255,255,0.17);
        transform: rotate(45deg);
    }
    &__img {
        height: 476px;
        width: 476px;
        background-color: #cc9a70;
        position: relative;
        overflow: hidden;
        &_girl{
            top: -20%;
            left: -20%;
            position: absolute;
            height: 140%;
            width: 140%;
            background-image: url(img/girl.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transform: rotate(-45deg);
        }
    }
    &__info {
        height: 476px;
        width: 476px;
        background-color: white;
        position: relative;
        overflow: hidden;
        display: none;
        &_title{
            position: absolute;
            transform: rotate(-45deg);
            height: 140%;
            width: 140%;
            top: -20%;
            left: -20%;
            font-size: 40px;
            font-family: "Open Sans", serif;
            font-weight: 700;
            text-align: center;
            padding-top: 25%;
        }
        &_text{
            top: -20%;
            left: -20%;
            position: absolute;
            height: 140%;
            width: 140%;
            transform: rotate(-45deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 28%;
            &-bold {
                font-size: 13px;
                line-height: 22px;
                font-weight: 700;
                margin-bottom: 22px;
                font-family: "Open Sans", serif;
            }
            &-simple {
                font-size: 13px;
                line-height: 22px;
                font-family: "Open Sans", serif;
            }
        }
    }
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    top: -5px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    left: -30px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 20px;
}

.switcher {
    height: 67px;
    width: 67px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(100% - 25px);
    &__button {
        border: 33px solid transparent;
        position: relative;
        &-leftInactive {
            border-right: 33px solid rgb(0%, 0%, 0%, 0.2);
        }
        &-leftActive {
            border-right: 33px solid rgb(0%, 0%, 0%, 1);
        }
        &-rightInactive {
            border-left: 33px solid rgb(0%, 0%, 0%, 0.2);
        }
        &-rightActive {
            border-left: 33px solid rgb(0%, 0%, 0%, 1);
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 815px;
    padding-bottom: 20px;
    .socialnetworks {
        display: flex;
        flex-direction: row;
        &__link {
            background-color: white;
            border-radius: 90px;
            height: 37px;
            width: 37px;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            &-img {
                height: 50%;
            }
        }
    }
    .makerInfo {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;
        &__copyright {
            font-size: 12px;
            letter-spacing: 0;
            line-height: 24px;
            color: #ffffff;
            font-weight: 400;
        }
        &__design {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            letter-spacing: 0;
            line-height: 24px;
            color: #ffffff;
            font-weight: 400;
        }
    }
}


